<form action="/cart" method="POST"  class=" d-inline-block centered my-2 w-100  " >
    <input type="hidden" id ="a" name="productId" value="<%= product._id %>">
    <button class="btn btn-sm btn-primary mr-1 col-lg-12 " type="submit" >Add to cart</button>
      
</form>